html {
  height: 100%;
  overflow-x: hidden;
}
body {
  background: url(../../../../../font.ubuntu.com/assets/img/background-body.png) 0 0;
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
h1, h2 {
  font-size: 30px;
}
a {
  color:#dd4814;
}
a.normal-more {
  padding-right: 1.2em;
  background: url(../images/normal-more.png) no-repeat 100% 50%;
}
a.normal-more:hover, a.big-more:hover {
  text-decoration: none;
}
.top-slider a.big-more {
  padding-right:2em;
  background: url(../images/normal-more.png) no-repeat 100% 50%;
}
a.big-more {
  padding-right:1.4em;
  background: url(../images/big-more.png) no-repeat 100% 50%;
}
a:hover, a:focus { color:red; }
.nav-list .current_page_item>a, .nav-list .current_page_item>a:hover, .nav-list .current_page_item>a:focus {
  background: none;
  text-shadow: 0 1px 0 black;
  color:white;
  font-weight: bold;
  padding-right: 2em;
  background: url(../images/normal-more.png) no-repeat 96% 50%;
}
.teaser {
  text-align: center;
  color:#f0f0f0;
  font-size: 12px;
  font-weight: bold;
  line-height: 35px;
  padding-top: 10px;
}
.nav-list li>a:hover {
  background: none;
}
.nav-list li>a {
  color:#e5b529;
  line-height: 1.5em;
  display: block;
  padding: 0.8em 1em;
  
  background: #333;
  margin-top: 2px;
}
.nav-list li>a, .nav-list .nav-header {
  text-shadow: 0 1px 0 #e5b529;
}
 .nav-list {
    margin: 0;
    padding: 0;
  }
  
  div.nav-list ul {
margin: 0;
padding: 0;
list-style: none;
margin-bottom: 0;
}
.container {
  background: url(../images/left-bg.jpg) repeat-y -84px 0;
  min-height: 728px;
  position: relative;
  z-index: 2;
}
.container-bottom {
  position: absolute;
  z-index: 1;
  top:0;
  margin-left: -20px;
  padding-left: 20px;
  background: #dd4814;
  width:100%;
}
.container  > .row { height: 100%;}
.content {
  margin-top: 2em;
}
.logo {}
.logo img {
  max-width: 90%; 
  margin: 2em auto 2em auto;
  margin-top: 0em;
  display: block;
}
.left-col {
  min-height: 100%;
}
.title-page {
  font-size: 1em;
font-weight: normal;
margin: 0;
color: white;
line-height: 31px;
padding-right: 1em;
}
.block, .block-content,
.block-contact
{ 
  margin-bottom:2em;
  background: white;
  box-shadow:0px 0 6px silver;
  padding: 1em;
}
.block-content {
  border:1px #dd4814 solid;
}
.block-outer { 
  margin-bottom: 2em;
  background: white;
  box-shadow:0px 0 6px silver;
  padding: 0;
  min-height: 435px;
  border:1px #dd4814 solid;
}
.catablog-catalog .block-outer {
  min-height: 120px;
  position:relative;
}
.catablog-catalog .block-outer span {
  position: absolute;
  background: #333;
  width: 25px;
  height: 25px;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  top: -1px;
  left: -1px;
  text-shadow: 1px 1px 1px #000;
  border: 1px solid #000;
  border-top: 0;
  border-left: 0;
}
.second-row .block-outer {
  min-height: 358px;
}
.block-outer .block {
  box-shadow: none;
  margin: 0;
  border:0;
}
.block {
  border:1px #dd4814 solid;
}
.block-image {
  display: block;
  position: relative;
  left:0;
  top:0;
  width: 100%;
}
.block h4 {
  font-weight: normal;
}
.top-slider {
  padding: 4px 0;
  padding-top: 5px;
  border-top: 4px #dd4814 solid;
  border-bottom: 4px #dd4814 solid;
  margin-bottom: 2em;
}
.lead {
  text-align:center;
}
.top-slider .lead {
  line-height: 40px;
  text-align:left;
  margin-bottom: 0;
  padding: 5px 1em;
  font-size: 1.2em;
  margin: 0;
  color: white;
  line-height: 31px;
  margin-top: 4px;
}
.top-slider .slide-img {
  width:100%;
}
.top-slider .block-contact {
  margin-left: -6px;
}
.block-contact {
  margin-bottom: 0;
}
.block-contact-title {
  margin-top: 0;
}
.block-contact span {
  color:#dd4814;
}
.bar-info {
  background:#dd4814;
  color:white;
}
.bar-info a {
  color:white;
}
@media (max-width: 1200px) {
  .container {
    background: url(../images/left-bg.jpg) repeat-y -84px 0;
  }
}
@media (min-width: 1200px) {
  .top-slider .block-contact {
    height: 233px;
    margin-left: -10px;
  }
  .container {
    background: url(../images/left-bg.jpg) repeat-y -36px 0;
  }
}
@media (min-width: 980px) and (max-width: 1200px)  {
  .top-slider .block-contact {
    height: 213px;
    margin-left: -10px;
  }
  .top-slider .slide-img {
    height: 241px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .container {
    background: url(../images/left-bg.jpg) repeat-y -122px 0;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .block h4 {
    font-size:12.5px;
  }
  body {
    font-size: 12px;
  }
  .top-slider .block-contact {
    height: 215px;
  }
  .title-page {
    font-size:0.8em;
  }
}
@media (max-width: 768px) {
  .container {
    background: none;
    min-height: 100%;
    
  }
  .container-bottom {
    display: none;
  }
  .nav-list>.current_page_item>a, .nav-list>.current_page_item>a:hover, .nav-list>.current_page_item>a:focus {
    
  }
 
  .left-col {
     background: url(../images/left-bg.jpg) repeat -36px 0;
     padding: 1em 0;
     padding-top: 0;
  }
  .content {
    margin-top: 1em;
  }
 
  #menu, #contact {
    line-height: 22px;
    border-radius: 5px;
    box-shadow: inset 2px 0px 10px black;
    background: #111;
    color:#ccc;
    font-weight: bold;
    display: block;
    background: url(../images/email-24-black.png) no-repeat 7px 50%;
    float:right;
    padding:  0.5em 0.9em;
    padding-left: 2.4em;
  }
  #menu {
    float: left;
    background: url(../images/stackexchange-24-black.png) no-repeat 7px 70%;
  }
  .panel {
    padding: 0 0.8em;
    padding-top: 0em;

  }
  .nav-list {
    display: none;
    padding-top: 0.8em;
  }
  .logo img {
    margin: 1.5em auto;
    margin-top: 0;
  }
  .block-contact {
    margin-bottom: 2em;
  }
}
@media (max-width: 768px) and (min-width:481px) {
   .block-outer, .second-row .block-outer {
    min-height: 10px;
  }
  .block-outer .block-image, .block-image {
    float:left;
    min-height: 120px;
    max-width: 90px;
    margin-right: 1em;
    width:auto;
  }
}
@media (max-width: 360px) { 
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.wpcf7 label {
   float:left;
   padding-right:1em;
   min-width:200px;
 }
 .wpcf7 input, .wpcf7 textarea {
   min-width:47%;
 }